!!!
%html{lang: "ja"}
    %head
        %link{rel: "stylesheet", href: "/stylesheets/site.css"}
        %meta{charset: "UTF-8"}
        %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
        %title
            Tatami pakuri
    
    %body
        = partial :"layouts/partials/header.haml"
        .ly-container
            = partial :"layouts/partials/left-sidebar.haml"
            %main.ly-main-center
                #content
                    = yield
                    = partial :"layouts/partials/content-footer.haml"
            = partial :"layouts/partials/right-sidebar.haml"